<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>Bible Voice Search</title>
</head>
<body>
  <div class="container">
    <div class="centered">
      <h1 class="title">My Bible Buddie</h1>
      <p class="instruction">Tap on the microphone to speak</p>
      <div class="mic-container" id="micContainer">
        <img src="{{ url_for('static', filename='mic.jpg') }}" alt="Microphone" class="mic" id="micImage" onclick="startRecording()">
        <div class="loader" id="micLoader"></div> <!-- Mic loader (empty div) -->
      </div>
      <div class="search-container">
        <div class="search-box" id="innerSearchBox">
          <input type="text" class="search-input" id="transcribedText" placeholder="Transcribed Text">
          <button class="search-icon">&#128269;</button>
        </div>
      </div>
      <!-- Add a wrapper div for the verses container -->
      <div class="verse-container">
        <div id="data-container"></div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='test.js') }}"></script>
</body>
</html>